{% load static %}
{% block foreign_business_person_task %}
    <div class="col-span-12 md:col-span-6 xxl:col-span-5">
        <div class="box">
            <div class="box-header flex">
                <h5 class="box-title my-auto">تسک های ارجاعی
                    بازرگانی خارجی</h5>
                <div class="hs-dropdown ti-dropdown block ltr:ml-auto rtl:mr-auto my-auto">
                    <button type="button" aria-label="button"
                            class="hs-dropdown-toggle ti-dropdown-toggle rounded-sm p-2 bg-white !border border-gray-200 text-gray-500 hover:bg-gray-100  focus:ring-gray-200 dark:bg-black/20 dark:hover:bg-black/30 dark:border-white/10 dark:hover:border-white/20 dark:focus:ring-white/10 dark:focus:ring-offset-white/10">
                        <i class="text-sm leading-none ti ti-dots-vertical"></i>
                    </button>
                    <div class="hs-dropdown-menu ti-dropdown-menu">
                        <a class="ti-dropdown-item"
                           href="javascript:void(0)">Action</a>
                        <a class="ti-dropdown-item"
                           href="javascript:void(0)">Another
                            Action</a>
                        <a class="ti-dropdown-item"
                           href="javascript:void(0)">Something
                            else
                            here</a>
                    </div>
                </div>
            </div>
            <div class="box-body p-0">
                <div class="overflow-auto">
                    <table class="ti-custom-table ti-custom-table-head">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">
                                Deal
                            </th>
                            <th scope="col" class="">Amount</th>
                            <th scope="col" class="">
                                Probability
                            </th>
                            <th scope="col" class="">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="leading-none !text-gray-800 dark:!text-white">
                                <div class="flex space-x-3 rtl:space-x-reverse text-start">
                                    <img class="avatar avatar-sm rounded-sm"
                                         src="{% static 'assets/img/users/2.jpg' %}"
                                         alt="Image Description">
                                    <div class="block my-auto">
                                        <p class="block text-sm font-semibold my-auto text-gray-800 dark:text-white">
                                            Socrates
                                            Itumay</p>
                                        <span class="block text-xs text-gray-400 dark:text-white/80 !font-normal my-auto  min-w-[180px]">socratesitumay@gmail.com</span>
                                    </div>
                                </div>
                            </td>
                            <td class="">$54,900</td>
                            <td class="">24%</td>
                            <td class=" text-sm"><span
                                    class="badge leading-none bg-primary/10 text-primary rounded-sm">Qualified</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="leading-none !text-gray-800 dark:!text-white">
                                <div class="flex space-x-3 rtl:space-x-reverse text-start">
                                    <img class="avatar avatar-sm rounded-sm"
                                         src="{% static 'assets/img/users/3.jpg' %}"
                                         alt="Image Description">
                                    <div class="block my-auto">
                                        <p class="block text-sm font-semibold my-auto text-gray-800 dark:text-white">
                                            Json Taylor</p>
                                        <span class="block text-xs text-gray-400 dark:text-white/80 !font-normal my-auto">jsontaylor2416@gmail.com</span>
                                    </div>
                                </div>
                            </td>
                            <td class="">$16,800</td>
                            <td class="">70%</td>
                            <td class=" text-sm"><span
                                    class="badge leading-none bg-warning/10 text-warning rounded-sm">Review</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="leading-none !text-gray-800 dark:!text-white">
                                <div class="flex space-x-3 rtl:space-x-reverse text-start">
                                    <img class="avatar avatar-sm rounded-sm"
                                         src="{% static 'assets/img/logos/1.png' %}"
                                         alt="Image Description">
                                    <div class="block my-auto">
                                        <p class="block text-sm font-semibold my-auto text-gray-800 dark:text-white">
                                            Inferno Tech Et.</p>
                                        <span class="block text-xs text-gray-400 dark:text-white/80 !font-normal my-auto">InfernoTech@gmail.com</span>
                                    </div>
                                </div>
                            </td>
                            <td class="">$12,000</td>
                            <td class="">90%</td>
                            <td class=" text-sm"><span
                                    class="badge leading-none bg-success/10 text-success rounded-sm">Closed Won</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="leading-none !text-gray-800 dark:!text-white">
                                <div class="flex space-x-3 rtl:space-x-reverse text-start">
                                    <img class="avatar avatar-sm rounded-sm"
                                         src="{% static 'assets/img/users/13.jpg' %}"
                                         alt="Image Description">
                                    <div class="block my-auto">
                                        <p class="block text-sm font-semibold my-auto text-gray-800 dark:text-white">
                                            Andrew Garfield</p>
                                        <span class="block text-xs text-gray-400 dark:text-white/80 !font-normal my-auto">andrewgarfield@gmail.com</span>
                                    </div>
                                </div>
                            </td>
                            <td class="">$16,800</td>
                            <td class="">70%</td>
                            <td class=" text-sm"><span
                                    class="badge leading-none bg-danger/10 text-danger rounded-sm">Closed Lost</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="leading-none !text-gray-800 dark:!text-white">
                                <div class="flex space-x-3 rtl:space-x-reverse text-start">
                                    <img class="avatar avatar-sm rounded-sm"
                                         src="{% static 'assets/img/logos/8.png' %}"
                                         alt="Image Description">
                                    <div class="block my-auto">
                                        <p class="block text-sm font-semibold my-auto text-gray-800 dark:text-white">
                                            Jack Pvt.Ltd</p>
                                        <span class="block text-xs text-gray-400 dark:text-white/80 !font-normal my-auto">JackTech@gmail.com</span>
                                    </div>
                                </div>
                            </td>
                            <td class="">$12,000</td>
                            <td class="">90%</td>
                            <td class=" text-sm"><span
                                    class="badge leading-none bg-success/10 text-success rounded-sm">Closed Won</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}