{% load static %}
<!-- popperjs -->
<script src="{% static 'assets/libs/@popperjs/core/umd/popper.min.js' %}"></script>

<!-- Color Picker JS -->
<script src="{% static 'assets/libs/@simonwep/pickr/pickr.es5.min.js' %}"></script>

<!-- sidebar JS -->
<script src="{% static 'assets/js/defaultmenu.js' %}"></script>

<!-- sticky JS -->
<script src="{% static 'assets/js/sticky.js' %}"></script>

<!-- Switch JS -->
<script src="{% static 'assets/js/switch.js' %}"></script>

<!-- Preline JS -->
<script src="{% static 'assets/libs/preline/preline.js' %}"></script>

<!-- Simplebar JS -->
<script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/custom.js' %}"></script>


<!-- Custom-Switcher JS -->
<script src="{% static 'assets/js/custom-switcher.js' %}"></script>

<!-- Choices JS -->
<script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Flat Picker JS -->
<script src="{% static 'assets/libs/flatpickr/flatpickr.min.js' %}"></script>

<!-- Dragula JS -->
<script src="{% static 'assets/libs/dragula/dragula.min.js' %}"></script>

<!-- Tasks JS -->
<script src="{% static 'assets/js/tasks.js' %}"></script>