{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl" data-nav-layout="horizontal" class="dark"
      data-header-styles="dark" data-menu-styles="dark">

<!-- Start::extend_head -->
{% block extend_head %}
    {% include 'components/extend_head.html' %}
{% endblock %}
<!-- End::extend_head -->

<body class="">

<!-- ========== Switcher  ========== -->
<div id="hs-overlay-switcher"
     class="hs-overlay hidden ti-offcanvas ti-offcanvas-right"
     tabindex="-1">
    {% block switcher %}
        {% include 'components/switcher.html' %}
    {% endblock switcher %}
</div>
<!-- ========== END Switcher  ========== -->

<div class="page">

    <!-- Start::app-sidebar -->
    {% block sidebar %}
        {% include 'components/sidebar.html' %}
    {% endblock %}
    <!-- End::app-sidebar -->

    <!-- Start::Header -->
    {% block header %}
        {% include 'components/Header.html' %}
    {% endblock %}
    <!-- End::Header -->

    <div class="content">

        <!-- Start::main-content -->
        <div class="main-content">

            <!-- Page Header -->
            <div class="block justify-between page-header md:flex">
                <div>
                    <h3 class="text-gray-700 hover:text-gray-900 dark:text-white dark:hover:text-white text-2xl font-medium">
                        CRM Ekson</h3>
                </div>
                <ol class="flex items-center whitespace-nowrap min-w-0">
                    <li class="text-sm">
                        <a class="flex items-center font-semibold text-primary hover:text-primary dark:text-primary truncate"
                           href="javascript:void(0);">
                            Home
                            <i class="ti ti-chevrons-right flex-shrink-0 mx-3 overflow-visible text-gray-300 dark:text-gray-300 rtl:rotate-180"></i>
                        </a>
                    </li>
                    <li class="text-sm text-gray-500 hover:text-primary dark:text-white/70 "
                        aria-current="page">
                        CRM Ekson
                    </li>
                </ol>
            </div>
            <!-- Page Header Close -->

            <!-- گزارشات فروش  -->
            <div class="grid grid-cols-12 gap-x-5">
                <div class="col-span-12 xxl:col-span-9">
                    <div class="grid grid-cols-12 gap-x-5">

                        <!-- گزارش فروش برق -->
                        {% block sales_electricity_report %}
                            {% include 'components/reports/sales_electricity_report.html' %}
                        {% endblock %}
                        <!-- End::گزارش فروش برق -->

                        <!-- گزارش فروش پایپینگ -->
                        {% block sales_piping_report %}
                            {% include 'components/reports/sales_piping_report.html' %}
                        {% endblock %}
                        <!-- End:: گزارش فروش پایپینگ -->

                        <!-- گزارش فروش کل -->
                        {% block total_sales_report %}
                            {% include 'components/reports/total_sales_report.html' %}
                        {% endblock %}
                        <!-- End::گزارش فروش کل -->


                        <!-- گزارش فروش فردی -->
                        {% block sales_person_report %}
                            {% include 'components/reports/sales_person_report.html' %}
                        {% endblock %}
                        <!-- End::گزارش فروش فردی -->

                        <!-- آمار فروش ماهانه -->
                        {% block monthly_sales_report %}
                            {% include 'components/reports/monthly_sales_report.html' %}
                        {% endblock %}
                        <!-- End::آمار فروش ماهانه -->


                    </div>
                </div>
                <!-- گزارش تسک ها -->
                {% block task_report %}
                    {% include 'components/reports/task_report.html' %}
                {% endblock %}
                <!-- End::گزارش تسک ها -->
            </div>
            <!-- End::گزارشات فروش -->


            <div class="grid grid-cols-12 gap-x-5">

                <!--  گزارش کالاهای وارداتی  -->
                {% block imported_goods_report %}
                    {% include 'components/reports/imported_goods_report.html' %}
                {% endblock %}
                <!--  گزارش کالاهای وارداتی  -->

                <!--  تسک های ارجاعی بازرگانی خارجی  -->
                {% block  foreign_business_person_task %}
                    {% include 'components/foreign_business_person_task.html' %}
                {% endblock %}
                <!-- End::تسک های ارجاعی بازرگانی خارجی -->


                <!--  آمار هر نفر بازرگانی خارجی  -->
                {% block foreign_business_person %}
                    {% include 'components/reports/foreign_business_person_report.html' %}
                {% endblock %}
                <!-- End::آمار هر نفر بازرگانی خارجی -->


            </div>
            <!-- جدول گزارشات -->
            {% block report_all %}
                {% include 'components/reports/report_all.html' %}
            {% endblock %}
            <!-- End::جدول گزارشات -->


            <!-- جدول گزارشات -->
            {% block report %}
                {% include 'NPPD/bazargani.html' %}
            {% endblock %}
            <!-- End::جدول گزارشات -->
        </div>
        <!-- Start::main-content -->

    </div>

    <!-- ========== Search Modal ========== -->
    <div id="search-modal" class="hs-overlay ti-modal hidden">
        {% block search_modal %}
            {% include 'components/search_modal.html' %}
        {% endblock search_modal %}
    </div>
    <!-- ========== END Search Modal ========== -->

    <footer class="mt-auto py-3 border-t dark:border-white/10 bg-white dark:bg-bgdark">
    </footer>


</div>

{% block extend_scripts %}
    {% include 'components/extend_scripts.html' %}
{% endblock %}


</body>
</html>